*{ 
    margin: 0; 
    
    padding: 0; 
    
    box-sizing: border-box; 
    } 

    html {
        font-size: 93.75%;
    }

    body {
        background-color: #212121;
        font-family: 'Poppins', sans-serif;
    }

   .container2 {
       margin: 2rem;
       color: #ffff;
       text-align: center;
      
   }
   
   .texto-menor {
       font-size: 15px;
       margin-bottom: 2rem;
       
   }

.texto-maior {
   font-size: clamp(1.2rem, 1rem + 2vw, 2rem); /* tres paramentros aceitados o primeiro o minimo, o segundo o aceitavel, o terceiro o maximo*/
   margin-top: 1rem;
   margin-bottom: 0.8rem;
   
   
   
}


/* decoração de botão  */
.button {

    height: 7vw;
    width: 37vw;
    left: 25px;
    top: 0px;
    border-radius: 50px;
    

    margin: 0.3rem;
    cursor: pointer;
    font-size: 1.5vw;
    color:#ffff;


    background: #31C451;
    border: none;
}

a {
    text-decoration: none;
}

/* animação de pulsação no botão */
.pulse {
  animation: pulse 0.5s infinite;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1); 
  }
  100% {
    transform: scale(1.1); 
  }
}



/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  top: 0px;
  left: 0px;
  bottom: 0;
  right: 0;
  width: 62vw;
  height: 35vw;
  border-radius: 2%;
}

.titulo1 {
  font-size: clamp(1rem, 0.5rem + 2vw, 1.5rem);
 /* background-color: ;*/
  color: #ffff;
  padding: 15px;

  text-align: center;
}


.card {
  background-color: black;
  color: #ffff;
  float: left;
  
  
  
}


.imagem img {
    width: 18rem;
    margin: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    float: left;
    
}

.titulo {
  text-align: center;
  margin: 2rem;
  font-size: clamp( 2rem, 0.7rem + 1vw, 1rem);
}


.texto {
  font-size: clamp(1rem, 1rem + 2vw, 1.5rem);
  margin: 25px;
  text-align: justify;

}



.titulo-conteudo {
  text-align: center;
  color: #ffff;
  font-size: clamp(1rem, 0.5rem + 2vw, 1.5rem);
  margin: 25px;
  
}

.lista-1 {
  color: #ffff;
  margin: 2rem;
  

  
}

.lista-1 h3 {
  font-size: clamp(0.2rem, 0.5rem + 2vw, 2rem);
}


.lista-1 ul {
  list-style-type: none;
  font-size: clamp(0.2rem, 0.5rem + 2vw, 1.5rem);
  margin-left: 2.8rem;
}

.lista-1 img {
  justify-content: space-between;
  width: 1.6rem;
  margin-right: 1rem;
}

.butão-conteudo {
  
  height: 7vw;
  width: 37vw;
  left: 25px;
  top: 0px;
  border-radius: 50px;
  

  
  cursor: pointer;
  font-size: 1.5vw;
  color:#ffff;


  background: #31C451;
  border: none;
  margin-left: 30vw;
  
}

.titulo1 {
  background-color: black;
}
.depoimentos {
  background-color: black;
}
.video-depoimento {
  top: 0px;
  left: 0px;
  bottom: 0;
  right: 0;
  width: 29vw;
  height: 16vw;
  margin: 1px;
  margin-left: 2.5vw;
  border-radius: 2%;
  
}

.beneficios {
  
  margin-top: 2rem;
  
  color: #ffff;
  float: left;
  margin-bottom: 3rem;
}

.titulo-ben {
  font-size: 1.5rem;
  margin: 2rem;
}

.imagem1 img {
  
  width: 25rem;
  margin: 2rem;
  margin-left: 16vw;
  margin-right: 5rem;
  float: left;
  
}

.texto-ben ul{
  margin-left: 3rem;
  font-size: 14px;
  margin-bottom: 3rem;
  
  list-style-type: none;
}

.garantia {
  text-align: center;
  margin: 1rem;
  
}



.botao2 {
  text-align: center;
}

.botao2 button {
    margin: 1rem;

    padding: 1.5rem;
    background: #31C451;
    border: none; 

    border-radius: 5px;

    cursor: pointer;
    font-size: 1rem;
    color:#ffff;
}



 /*responsividade abaixo de 600px */
 @media screen and (max-width: 600px) {

  .responsive-iframe {
    width: 85vw;
    height: 50vw;
  }

  .button {
    height: 10vw;
    width: 50vw;
    font-size: 2vw;
  }

  .lista-1 img {
    width: 1rem;
    margin-right: 0.6rem;
  }


}


@media screen and (max-width: 800px) {

  .video-depoimento {
    top: 0px;
    left: 0px;
    bottom: 0;
    right: 0;
    width: 62vw;
    height: 35vw;
    margin: 1vw;
    margin-left: 20vw;
    border-radius: 2%;
    
  }

  .imagem1 img {
  
    width: 70vw;
    margin-left: 19vw;
    margin-right: 10vw;
    
  }


  .imagem img {
    width: 50vw;
    margin: 3rem;
    margin-left: 25vw;
    margin-right: 10vw;

    
}


  .titulo-ben {
    font-size: 1rem;
    margin: 10vw;
      

}



}