*{ 
    margin: 0; 
    
    padding: 0; 
    
    box-sizing: border-box; 
    } 

    html {
        font-size: 93.75%;
    }

    body {
        background-color: #212121;
    }

   .container2 {
       
       color: #ffff;
       text-align: center;
      
   }
   
   .texto-menor {
       font-size: 15px;
       margin-bottom: 2rem;
   }

.texto-maior {
   font-size: clamp(1.2rem, 1rem + 2vw, 2rem); /* tres paramentros aceitados o primeiro o minimo, o segundo o aceitavel, o terceiro o maximo*/
   margin-top: 1rem;
   margin-bottom: 0.8rem;
   text-align: center;
   margin: 15px;
}


/* decoração de botão  */
.button {

    height: 7vw;
    width: 37vw;
    left: 25px;
    top: 0px;
    border-radius: 50px;
    

    margin: 0.3rem;
    cursor: pointer;
    font-size: 1.5vw;
    color:#ffff;


    background: #31C451;
    border: none;
}

a {
    text-decoration: none;
}

/* animação de pulsação no botão */
.pulse {
  animation: pulse 0.5s infinite;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1); 
  }
  100% {
    transform: scale(1.1); 
  }
}


/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  top: 0px;
  left: 0px;
  bottom: 0;
  right: 0;
  width: 62vw;
  height: 35vw;
}

.sobre {
    color: #ffff;
    background-color: black;
    text-align: center;
    
}

.sobre h2 {
    padding: 15px;
    font-size: 20px;
}

.sobre2 {
  display: grid;
}



 